
<div>
	<global-navbar />
</div>

<div>
	<table class="table">
		<tbody>
			<tr>
				<td ng-repeat="(StageID, StageArray) in mainCtrl.splitIntoStage" valign="top">
					<div class="text-centered" ng-hide="hideStagePictures == true">
						<img class="img-circle" ng-click="createNewInspectionForm(StageID[0], locale.locale_label_key)" ng-src="app/img/{{StageArray[0].value.image_src}}" fallback-src="app/img/fallback.jpg">
					</div>
					<div class="text-centered" ng-click="createNewInspectionForm(StageID[0], locale.locale_label_key)">
						<i ng-show="blankInspectionForm"></i>
						<b>{{StageArray[0].value.label.en}}</b>
					</div>

					<div ng-repeat="(key, value) in StageArray" ng-click="mainCtrl.openThatDoc(value.id)" class="{{value.statusColor}} {{value.conclusionColor}}">
						<!-- <span ng-class="{'star_on': value.starred==1, 'star_off': value.starred!=1}">★</span> -->
						<span ng-show="value.has_sku_params">
							[✔]
						</span>
						{{value.string_to_show_user}}
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>
