<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a ng-click="vm.logout()">{{'logout' | translate}} - <i class="fa fa-user"></i> {{vm.currentUserName}}</a></li>
        <li><a ui-sref="home">{{'home' | translate}}</a></li>
        <li><a ui-sref="notification">{{'notification' | translate}}</a></li>
        <li><a ui-sref="docview">{{'docview' | translate}}</a></li>
      </ul>
	  <img src="app/img/icon-us.png" ng-click="vm.changeLanguage('en')">
	  <img src="app/img/icon-french.png" ng-click="vm.changeLanguage('fr')">
	  <img src="app/img/icon-china.png" ng-click="vm.changeLanguage('zh_cn')">
    </div>
  </div>
</nav>
