<div class="container">
	<table class="table" style="width:100%">
		<thead>
			<tr>
				<th>New</th>
				<th>Started</th>
				<th>Completed</th>
			</tr>
		</thead>
		<tbody>
			<tr ui-sref="home">
				<td>
					<tag>New Inspections: {{notify.new}}</tag>
				</td>
				<td>
					<tag ng-show="notify.started.pending">Pending: {{notify.started.pending}}</tag>
					<tag ng-show="notify.started.pass">Passed: {{notify.started.pass}}</tag>
					<tag ng-show="notify.started.fail">Failed: {{notify.started.fail}}</tag>
				</td>
				<td>
					<tag ng-show="notify.completed.pending">Pending: {{notify.completed.pending}}</tag>
					<tag ng-show="notify.completed.pass">Passed: {{notify.completed.pass}}</tag>
					<tag ng-show="notify.completed.fail">Failed: {{notify.completed.fail}}</tag>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div>
	Need Attention: 
	<pre>{{NotCtrl.mapReduceData | json}}</pre>
</div>
